<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>

    <%= link_to "Add New Project", new_project_path %>
   


  </aside>
</div>