<h1>List of Projects</h1>
<p>
  <strong>Title:</strong>
  <%= @project.Title %>
</p>
 
 <p>
  <strong>Location:</strong>
  <%= @project.Location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.Description %>
</p>
